<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<!-- Globally enables or disables any caches configured in any mapper under this configuration -->
		<setting name="cacheEnabled" value="false" />
		<!-- Sets the number of seconds the driver will wait for a response from the database -->
		<setting name="defaultStatementTimeout" value="5" />
		<!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- print sql on stdout -->
		<!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
	</settings>
	
	<!-- Continue editing here -->
	<plugins>
		<!-- 配置分页插件 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--
			  分页合理化参数，默认值为false。当该参数设置为 true 时，pageNum<=0 时会查询第一页，
			  pageNum>pages（超过总数时），会查询最后一页。默认false 时，直接根据参数进行查询。
			 -->
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>
	
</configuration>