@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .decrease {
    /* background-image: url("/sell/resource/img/decrease_1@2x.png"); */
    background-image: url("./../../components/header/decrease_1@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .decrease {
    background-image: url("./../../components/header/decrease_1@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .discount {
    background-image: url("./../../components/header/discount_1@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .discount {
    background-image: url("./../../components/header/discount_1@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .special {
    background-image: url("./../../components/header/special_1@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .special {
    background-image: url("./../../components/header/special_1@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .invoice {
    background-image: url("./../../components/header/invoice_1@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .invoice {
    background-image: url("./../../components/header/invoice_1@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .guarantee {
    background-image: url("./../../components/header/guarantee_1@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .guarantee {
    background-image: url("./../../components/header/guarantee_1@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .bulletin-title {
    background-image: url("./../../components/header/bulletin@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .bulletin-title {
    background-image: url("./../../components/header/bulletin@3x.png");
  }
}

 



@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .decrease_2 {
    /* background-image: url("/sell/resource/img/decrease_1@2x.png"); */
    background-image: url("./../../components/header/decrease_2@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .decrease_2 {
    background-image: url("./../../components/header/discount_2@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .discount_2 {
    background-image: url("./../../components/header/discount_2@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .discount_2 {
    background-image: url("./../../components/header/discount_2@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .special_2 {
    background-image: url("./../../components/header/special_2@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .special_2 {
    background-image: url("./../../components/header/special_2@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .invoice_2 {
    background-image: url("./../../components/header/invoice_2@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .invoice_2 {
    background-image: url("./../../components/header/invoice_2@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .guarantee_2 {
    background-image: url("./../../components/header/guarantee_2@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .guarantee_2 {
    background-image: url("./../../components/header/guarantee_2@3x.png");
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .decrease_3 {
    /* background-image: url("/sell/resource/img/decrease_1@2x.png"); */
    background-image: url("./../../components/sellgoods/sellgoodImg/decrease_3@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .decrease_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/decrease_3@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .discount_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/discount_3@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .discount_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/discount_3@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .special_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/special_3@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .special_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/special_3@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .invoice_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/invoice_3@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .invoice_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/invoice_3@3x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .guarantee_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/guarantee_3@2x.png");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  .guarantee_3 {
    background-image: url("./../../components/sellgoods/sellgoodImg/guarantee_3@3x.png");
  }
}

 



 


@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  .star-48 .star-item{
        margin-right: 22px;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
  }
  .star-36 .star-item{
    margin-right: 6px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
  }
  .star-24 .star-item{
    margin-right: 3px;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
  }
  .star-48 .on{
    background-image: url(./../../components/star/starImg/star24_on@2x.png);
  }
  .star-48 .off{
      background-image: url(./../../components/star/starImg/star24_off@2x.png);
  }
  .star-48 .half{
    background-image: url(./../../components/star/starImg/star24_half@2x.png);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
    .star-48 .star-item{
        margin-right: 22px;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
  }
  .star-36 .star-item{
    margin-right: 6px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
  }
  .star-24 .star-item{
    margin-right: 3px;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
  }
  .star-48 .on{
    background-image: url(./../../components/star/starImg/star24_on@3x.png);
  }
  .star-48 .off{
      background-image: url(./../../components/star/starImg/star24_off@3x.png);
  }
  .star-48 .half{
    background-image: url(./../../components/star/starImg/star24_half@3x.png);
  }

 
  
}


