<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcphoenix.dto.mapper.FoodCategoryMapper">

	<update id="updateCategory">
		UPDATE food_category
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="description != null and description != ''">
				description = #{description}
			</if>
		</set>
		WHERE category_id = #{categoryId} AND restaurant_id = #{restaurantId}
	</update>
	
</mapper>