<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcphoenix.dto.mapper.RestaurantMapper">
	
	<insert id="addRestaurant">
		INSERT INTO restaurant(user_id, restaurant_name, restaurant_desc, restaurant_phone, contact_man, tag, bh_start,
		                       bh_end, country_id, address, addr_lng, addr_lat, store_img, instore_img, logo,
		                       banner_img, bulletin, delivery_price, min_price, gmt_create)
		VALUES (#{userId} , #{restaurantName} , #{restaurantDesc} , #{restaurantPhone} , #{contactMan} , #{tag} , #{bhStart} , #{bhEnd}  ,
		        #{countryId} , #{address}  , #{addrLng} , #{addrLat} , #{storeImg} , #{instoreImg} , #{logo} , #{bannerImg} , #{bulletin} ,
		        #{deliveryPrice} , #{minPrice} , NOW())
	</insert>

</mapper>